#site {
	font-family: 'Josefin Slab', serif !important;
	color: white;
	text-align: center;
	margin: auto;
}
/*// START Header styles //*/
#header .right.menu {
	padding-top: 20px;
}

#header .ui.menu {
    font-family: 'Josefin Slab', serif;
	font-size: 150%;
}

.top-menu {
	border-radius: 0px;
	transition: 0.5s;
	width: 100%;
}

.full-size {
	display: inline-block !important;
	height: 40px;
}

.menu {
	height: 40px;
}

#header .ui.grid {
	margin: 0px;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
	opacity: 0.9;
	margin-top: 40px;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
	color: #F8F8F8;
    padding: 16px 8px 16px 32px;
    text-decoration: none;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
/*// END Header Styles //*/

/*// START Landing Styles //*/

#landing {
	position: fixed;
	z-index: -10;
	height: 100vh;
	width: 100%;
	margin: -40px 0px 0px;
	background-image: url("/public/Rockwood-Live.jpg");
	background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
	transition: 0.5s;
}

#overlay {
	position: fixed;
	z-index: -5;
	height: 100vh;
	width: 100%;
	margin: -40px 0px 0px;
	/*background: rgb(70, 72, 82);*/
	background-color: #090909;
	transition: 0.5s;
}

#band-name {
	width: 50%;
	max-width: 250px;
	margin-top: 30vh;
}

#bandcamp {
	color: #CDCDCD;
	transition: 0.2s;
}

#bandcamp:hover {
	color: #2F44C6
}

#home-soundcloud {
	margin-top: 60vh;
}

#home-player {
	min-width: 320px;
}

#homepage-pics img:hover {
	cursor: pointer;
	opacity: 0.7;
	transition: 0.2s;
}