#bio {
    margin-top: 30px;
}

#band-bio {
    font-size: 20px;
}

#bios-tab {
    height: 40px;
}

#bio-box {
    text-align: left;
    line-height: 1.4;
    font-size: 20px;
}

img {
    cursor: pointer !important;
}