.blur-image {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    -webkit-filter: none;
    filter: none;

    position: fixed;
    top: 0;
    z-index: -10;
    height: 100vh;
    width: 100vw;
}

.image-loaded {
    -webkit-transition: background-image 1s;
    transition: background-image 1s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}