#site {
	font-family: 'Open Sans', serif !important;
	color: white;
	text-align: center;
	margin: auto;
}

.center {
	position: relative;
    margin: auto;
    width: 50%;
}

#content {
	margin-top: 80px;
}

.top-margin {
	margin-Top: 40px;
}

.white-color {
    font-family: "Open Sans", sans-serif !important;
    color: floralwhite !important;
}