#site {
	font-family: 'Open Sans', serif !important;
	color: white;
	text-align: center;
	margin: auto;
}

.center {
	position: relative;
	margin: auto;
	width: 50%;
}

#content {
	margin-top: 80px;
}

.top-margin {
	margin-Top: 40px;
}

.white-color {
	font-family: "Open Sans", sans-serif !important;
	color: floralwhite !important;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}

.video-wrapper iframe {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}